html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
}

::selection{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar{
  width: 0;
}

/*::-webkit-scrollbar{
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(19, 19 , 19);
}*/